<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <h1>Menu</h1>

    <h2></h2>
      <form action="/select_action" method="GET">
        <label for="dropbtn">Select your action</label>
        <select class="dropbtn" name="menu_selection">
          <div class="dropdown-content">
            <option value="calculate_material">Calculate material</option>
            <option value="create_part">Enter a new part</option>
            <option value="roll_caluclator">Roll calculator</option>
          </div>
        </select>
        <button type="submit">Submit</button>
      </form>
  {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %}
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
