{% extends 'base.html' %}
{% block form %}
  Length calculator is under construction
  <form action="calculate_roll_length">
    <p><input type="text", name="roll_diameter"> Roll Diameter</p>
    <p><lable for="dropbtn"></lable>
    <select class="dropbtn" name="material">
      {% for material in materials %}
      <option value="{{material}}">{{material}}</option>
      {% endfor %}
    </select></p>
    <p><input type="text", name="core_diameter"> Core Diameter</p>
    <button type="submit">Submit</button>
    
  </form>

{% endblock %}