{% extends 'base.html' %}
{% block body %}
Length calculator is under construction
<form action="/calculate-roll-diameter">
  <input type="text", name="roll_length"> Roll Length
  <p><label for="dropbtn"></label>
  <select class="dropbtn" name="material">
    {% for material in materials %}
    <option value="{{material[0]}}">{{material}}</option>
    {% endfor %}
  </select></p>
  <input type="text", name="core_diameter"> Core Diameter
  <p><button type="submit">Submit</button></p>
  
</form>
{% endblock %}