{% extends 'roll_calculator.html' %}
{% block roll_calculator %}
  Length calculator is under construction
  <form action="/roll_calculator">
    <input type="text", name="roll_diameter"> Roll Diameter
    <label for="dropbtn"></label>
    <select class="dropbtn" name="material">
      {% for material in materials %}
      <option value="{{material}}">{{material}}</option>
      {% endfor %}
    </select>
    <input type="text", name="core_diameter"> Core Diameter
    <button type="submit">Submit</button>
    
  </form>

{% endblock %}